#!/bin/bash
# package springboot application
./mvnw package
# build image
docker build -t springboot-sample . 
# push to ecr
docker tag springboot-sample {account id}.dkr.ecr.{aws region}.amazonaws.com/springboot-sample:{tag}
docker push {account id}.dkr.ecr.{aws region}.amazonaws.com/springboot-sample:{tag}
# deploy to kubenetes
kubectl apply -f kubernetes.yaml